* {
    box-sizing: border-box;
    transition: all 0.1s ease-in-out;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--dark-lighted);
    border-radius: 4px;
}

::-webkit-scrollbar-track {
    border-radius: 4px;
    background-color: var(--darken-ops);
}

.scrollbarHidden::-webkit-scrollbar {
    display: none;
}

body, html {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}